<table>
  <thead>
    <tr>
      <th>State / Variant</th>
      <th>Primary</th>
      <th>Secondary</th>
      <th>Outline</th>
      <th>Ghost</th>
      <th>Link</th>
      <th>Link Secondary</th>
    </tr>
  </thead>
  <tbody>
    <!-- Default Type -->
    <tr>
      <td>Default</td>
      <td><app-button label="Button" variant="primary"></app-button></td>
      <td><app-button label="Button" variant="secondary"></app-button></td>
      <td><app-button label="Button" variant="outline"></app-button></td>
      <td><app-button label="Button" variant="ghost"></app-button></td>
      <td><app-button label="Button" variant="link"></app-button></td>
      <td><app-button label="Button" variant="link-secondary"></app-button></td>
    </tr>
    <tr>
      <td>Hover</td>
      <td><app-button label="Button" variant="primary" state="hover"></app-button></td>
      <td><app-button label="Button" variant="secondary" state="hover"></app-button></td>
      <td><app-button label="Button" variant="outline" state="hover"></app-button></td>
      <td><app-button label="Button" variant="ghost" state="hover"></app-button></td>
      <td><app-button label="Button" variant="link" state="hover"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" state="hover"></app-button></td>
    </tr>
    <tr>
      <td>Focus</td>
      <td><app-button label="Button" variant="primary" state="focus"></app-button></td>
      <td><app-button label="Button" variant="secondary" state="focus"></app-button></td>
      <td><app-button label="Button" variant="outline" state="focus"></app-button></td>
      <td><app-button label="Button" variant="ghost" state="focus"></app-button></td>
      <td><app-button label="Button" variant="link" state="focus"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" state="focus"></app-button></td>
    </tr>
    <tr>
      <td>Disabled</td>
      <td><app-button label="Button" variant="primary" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="secondary" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="outline" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="ghost" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="link" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" state="disabled"></app-button></td>
    </tr>

    <!-- Destructive Type -->
    <tr>
      <td>Destractive</td>
      <td><app-button label="Button" variant="primary" destractive="true"></app-button></td>
      <td><app-button label="Button" variant="secondary" destractive="true"></app-button></td>
      <td><app-button label="Button" variant="outline" destractive="true"></app-button></td>
      <td><app-button label="Button" variant="ghost" destractive="true"></app-button></td>
      <td><app-button label="Button" variant="link" destractive="true"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" destractive="true"></app-button></td>
    </tr>
    <tr>
      <td>Destractive Hover</td>
      <td><app-button label="Button" variant="primary" destractive="true" state="hover"></app-button></td>
      <td><app-button label="Button" variant="secondary" destractive="true" state="hover"></app-button></td>
      <td><app-button label="Button" variant="outline" destractive="true" state="hover"></app-button></td>
      <td><app-button label="Button" variant="ghost" destractive="true" state="hover"></app-button></td>
      <td><app-button label="Button" variant="link" destractive="true" state="hover"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" destractive="true" state="hover"></app-button></td>
    </tr>
    <tr>
      <td>Destractive Focus</td>
      <td><app-button label="Button" variant="primary" destractive="true" state="focus"></app-button></td>
      <td><app-button label="Button" variant="secondary" destractive="true" state="focus"></app-button></td>
      <td><app-button label="Button" variant="outline" destractive="true" state="focus"></app-button></td>
      <td><app-button label="Button" variant="ghost" destractive="true" state="focus"></app-button></td>
      <td><app-button label="Button" variant="link" destractive="true" state="focus"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" destractive="true" state="focus"></app-button></td>
    </tr>
    <tr>
      <td>Destractive Disabled</td>
      <td><app-button label="Button" variant="primary" destractive="true" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="secondary" destractive="true" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="outline" destractive="true" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="ghost" destractive="true" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="link" destractive="true" state="disabled"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" destractive="true" state="disabled"></app-button></td>
    </tr>
    <tr>
      <td>Destractive Loading</td>
      <td><app-button label="Button" variant="primary" destractive="true" state="loading" [loading]="true"></app-button></td>
      <td><app-button label="Button" variant="secondary" destractive="true" state="loading"></app-button></td>
      <td><app-button label="Button" variant="outline" destractive="true" state="loading"></app-button></td>
      <td><app-button label="Button" variant="ghost" destractive="true" state="loading"></app-button></td>
      <td><app-button label="Button" variant="link" destractive="true" state="loading"></app-button></td>
      <td><app-button label="Button" variant="link-secondary" destractive="true" state="loading"></app-button></td>
    </tr>
  </tbody>
</table>
